{
    "env": {
        "browser": true,
        "node": false
    },
    "rules": {
        /* Possible Errors ****************************************************/

        "no-console": 0 // disallow use of console (off by default in the node environment)
    }
}
